<div class="accounts-container">
  <div class="accounts-header">
    <h1>Accounts</h1>
    <button mat-raised-button color="primary" (click)="openCreateAccountDialog()">
      Add Account
    </button>
  </div>

  <!-- Accounts Table -->
  <div class="accounts-table-container">
    <table mat-table [dataSource]="accounts" class="accounts-table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let account">{{account.name}}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let account">{{account.type | titlecase}}</td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let account" [ngClass]="{'negative': account.balance < 0}">
          {{account.balance | currency:account.currency}}
        </td>
      </ng-container>

      <!-- Currency Column -->
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Currency</th>
        <td mat-cell *matCellDef="let account">{{account.currency}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let account">{{account.description}}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let account">
          <button mat-icon-button color="primary" (click)="editAccount(account)" matTooltip="Edit account">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteAccount(account.id!)" matTooltip="Delete account">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
